{% if site.data.env.ambiente_static == 'desarrollo' %}
  <script  type="text/javascript" src="{{ site.url }}/bower_components/jquery/dist/jquery.min.js"></script>
  <script  type="text/javascript" src="{{ site.url }}/bower_components/materialize/dist/js/materialize.min.js"></script>
  <script  type="text/javascript" src="{{ site.url }}/assets/js/login.js"></script>
{% else if site.data.env.ambiente_static == 'produccion'%}
  <script  type="text/javascript" src="/dist/site.min.js"></script>
{% endif %}
