<div class="row login">
  <div class="col s10 l4 offset-l4 offset-s1">
    <div class="card">
      <div class="card-action white-text center">
        <h3>Bienvenido</h3>
      </div>
      <div class="card-content" >
        <div class="form-filed input-field">
          <i class="fa fa-user-circle-o prefix" aria-hidden="true"></i>
          <label for="txtUsuario">Usuario</label>
          <input type="text" id="txtUsuario" name="usuario" value="">
        </div><br>
        <div class="form-filed input-field">
          <i class="fa fa-unlock-alt prefix" aria-hidden="true"></i>
          <label for="txtContrasenia">Contraseña</label>
          <input type="password" id="txtContrasenia" name="contrasenia" value="">
        </div><br>
        <div class="form-filed">
          <label>
            <input type="checkbox" />
            <span>Mantener Sesión</span>
          </label>
        </div><br>
        <div class="form-filed center-align">
          <button class="btn-large waves-effect waves-light grey lighten-5" style="color: #343434;">Ingresar</button>
        </div><br>
      </div>
    </div>
  </div>
</div>
