/*-- body -- */
body{ font-family: 'Raleway', sans-serif; }
.bold{ font-weight: bold;}
.color-grey{ color: #616161; }
.oculto {display: none;}
.fondo-primary{    background-color: var(--primary-color); color: #FFF;}
ul.browser-default li { list-style-type: initial; }
.select-wrapper+label{ font-size: 1.1rem; color: var(--primary-color); font-weight: bold; top: -35px;}
.icono-li{  list-style-image: url('../img/li.png'); }
ul:not(.browser-default), ul:not(.browser-default)>li{ list-style-type: disc; }
.ul-list{ padding-left: 20px !important; }
.ul-sub-list{ padding-left: 20px !important; }
.ol-count { counter-reset: item }
.ol-count > li:before { content: counters(item, ".") " "; counter-increment: item }
.modal-content{ height: calc(100% - 25px) !important;}
.to-uppercase{text-transform: uppercase;}
/*-- forms --*/
.input-field{ margin-top: 0rem; margin-bottom: 0rem;}
textarea.materialize-textarea{height: 10rem;}
/*-- nav --*/
.nav-wrapper > .brand-logo{ padding: 10px !important; }
.color-primary { color: var(--primary-color) !important; }
.page-footer { background-color: var(--primary-color); }
nav { position: fixed; background: rgba(0, 0 ,0, 0.25); padding: 0px 20px; z-index: 100; }
nav i.material-icons{ font-size: 40px; }
.indicators > .active { background-color: var(--primary-color) !important; }
#nav-mobile:not(.browser-default), #nav-mobile:not(.browser-default)>li{list-style-type: none !important;}
/*-- slider--*/
.slides > li > .caption { background-color: rgba(27, 110 , 138, 0.25); }
.slides > li > .caption > h4, .slides > li > .caption > h5 { color: #FFF !important; }
.slides > li > .caption > h4 { font-weight: bold; }
.slider > .slides > li .caption { top: 40%; left: 15%; padding: 20px; }
.slides{ height: 700px; }
/*-- odontologos  --*/
#odontologos > .container > hr {margin-bottom: 40px; border-top: 1px solid #ccc;}
.dropdown-content li>span {color: #616161}
.select-wrapper .caret { fill: #9e9e9e; }
.select-dropdown {color: #616161}
.select-wrapper input.select-dropdown { border-bottom: 1px solid #9e9e9e;}
.select-wrapper input.select-dropdown:focus { border-bottom: 1px solid #9e9e9e;}
[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after, [type="radio"]:not(:checked)+span:before, [type="radio"]:not(:checked)+span:after{ border: 2px solid #9e9e9e;}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after{background-color: #9e9e9e !important;}
[type="checkbox"]:checked+span:not(.lever):before{ border-right: 2px solid #9e9e9e; border-bottom: 1px solid #9e9e9e;}
input.valid[type=text]:not(.browser-default),input[type=text]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]), textarea.materialize-textarea:not(.browser-default){border-bottom: 1px solid #9e9e9e; box-shadow: 0 1px 0 0 #fdfdfd; color: #616161;}
input[type=text]:not(.browser-default):focus:not([readonly]) + label, textarea + label, textarea.materialize-textarea:focus:not([readonly]) + label {color: #5b5b5b;}
input[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after{border: 0px solid #616161; }
input[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after{border: 0px solid #616161; }
/*-- servivios  --*/
.card-image.img{ height:150px; !important }
.material-icons.md1::before{ content:"search"; }
.material-icons.md1:hover::before{ content:"navigate_next"; }
.carousel{height: 300px}
.btn-floating:hover{background: var(--secondary-color);}
.card .card-content { padding: 10px; }
#tecnologia >.carousel {bottom: 35px;}
#tecnologia {padding-bottom: 0px;}
/*-- seccion links--*/
#links { padding-top: 40px; padding-bottom: 40px; background: #e9eaed; }
.info { background: #fff; padding: 15px; transition: 0.4s; margin-top: 20px; }
.links > .container > .row > div > .info:hover{ box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3); cursor: pointer; }
.info > a:hover{ cursor: pointer; font-weight: bold; }
.info span { color: #ffbb06; font-size: 30px; }
.info h6 { margin-top: 10px; margin-bottom: 10px; }
.info p.p-style{ font-family: sans-serif; font-weight: bold; }
#servicios{background-color: #e9eaed}
section{ padding-top: 25px; padding-bottom: 25px; }
/*-- footer --*/
.tarjeta{ padding-bottom: 20px; }
#bureau_veritas{ padding-top: 20px; }
.footer-copyright{ padding-top: 20px !important; padding-bottom: 0px !important; }
#terminos-condiciones:hover{cursor:pointer}
/*-- servicios  --*/
#servicios > .container > .row > div > .info {text-align: center;}
#servicios > .container > .row > div > .info > p {text-align: left;}
#servicios > .container > .row > div > .info > h6 {font-weight: bold;}
#servicios > .container > .row > div > .info > a {text-align: right;}
/*-- contacto  --*/
#contacto{padding-top: 0px; padding-bottom: 0px;}
#contacto > .row { margin-bottom: 0px;}
#contacto > .row > .col > .container { margin-top: 40px; margin-bottom: 40px; }
#mapa { height: 800px; margin-top: 60px;}
@media only screen and (min-width: 993px){
  #contacto > .row > .col > .container > .l12 { margin-left:25%; width: 90%;}
}
/*-- modal terminos y condiciones --*/
#modal-terminos-condiciones > h5 { font-size: 1.25rem}
